---
layout: default
---
<!-- =======================
Inner intro START -->
<section class=" text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-8 mx-auto">
				<!-- Title -->
				<h1 class="display-5 text-primary">{{ page.title }}</h1>
				<p>{{ page.description }}</p>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Portfolio START -->
<section class="pt-5 pb-0">
	<div class="container">

		{% for item in collection %}
		{% if forloop.index | modulo: 2 == 1 %}
		  <div class="row mb-4" data-sticky-container id="{{ item.id }}">
			<div class="col-md-6">
			  {% for i in (0..4) %}
				{% if item["imagelinks#{i+1}"] %}
				  <a class="mb-4 d-block" data-glightbox data-gallery="portfolio-req" href="{{ site.baseurl }}/{{ item["imagelinks#{i+1}"] }}">
					<img class="rounded" src="{{ site.baseurl }}/{{ item["images#{i+1}"] }}" alt="">
				  </a>
				{% endif %}
			  {% endfor %}
			</div>
			<div class="col-md-6">
			  <div data-sticky data-margin-top="100" data-margin-bottom="100" data-sticky-for="767">
				<h3>{{ item.name }}</h3>
				{{ item.description_long }}
				<ul class="list-group list-group-borderless list-group-icon-primary-bg mb-5">
				  {% for i in (0..4) %}
					{% if item["foci#{i+1}"] %}
					  <li class="list-group-item"><i class="fas fa-check"></i>{{ item["foci#{i+1}"] }}</li>
					{% endif %}
				  {% endfor %}
				</ul>
			  </div>
			</div>
		  </div>
		{% else %}
		  <div class="row mt-6 mb-4" data-sticky-container id="{{ item.id }}">
			<div class="col-md-6 order-last order-md-1">
			  <div data-sticky data-margin-top="100" data-margin-bottom="100" data-sticky-for="767">
				<h3>{{ item.name }}</h3>
				{{ item.description_long }}
				<ul class="list-group list-group-borderless list-group-icon-primary-bg">
				  {% for i in (0..4) %}
					{% if item["foci#{i+1}"] %}
					  <li class="list-group-item"><i class="fas fa-check"></i>{{ item["foci#{i+1}"] }}</li>
					{% endif %}
				  {% endfor %}
				</ul>
			  </div>
			</div>
			<div class="col-md-6 order-1 order-md-last">
			  {% for i in (0..4) %}
				{% if item["imagelinks#{i+1}"] %}
				  <a class="mb-4 d-block" data-glightbox data-gallery="portfolio-req" href="{{ site.baseurl }}/{{ item["imagelinks#{i+1}"] }}">
					<img class="rounded" src="{{ site.baseurl }}/{{ item["images#{i+1}"] }}" alt="">
				  </a>
				{% endif %}
			  {% endfor %}
			</div>
		  </div>
		{% endif %}
	  {% endfor %}
	  

	</div>
	<!-- Portfolio END -->
</section>
<!-- =======================
Portfolio END -->